<%- include("partials/header"); -%>

<div class="container-fluid">


<div class="row card-row" >
    <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL1 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN1 %></h5>
            <p class="card-text">Price: <%= IP1 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL2 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN2 %></h5>
            <p class="card-text">Price: <%= IP2 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL3 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN3 %></h5>
            <p class="card-text">Price: <%= IP3 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL4 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN4 %></h5>
            <p class="card-text">Price: <%= IP4 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>

</div>
<div class="row">
    <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL5 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN5 %></h5>
            <p class="card-text">Price: <%= IP5 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL6 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN6 %></h5>
            <p class="card-text">Price: <%= IP6 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL7 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN7 %></h5>
            <p class="card-text">Price: <%= IP7 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center ">
        <div class="card card-rows">
          <div class="d-flex justify-content-center card-img">
            <img class="icon" src=<%= IL8 %> style=" width: 50%;"></i>
          </div>
          
          <div class="card-body">
            <h5 class="card-title"><%= IN8 %></h5>
            <p class="card-text">Price: <%= IP8 %></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>

</div>
</div>


<%- include("partials/footer"); -%>